setuptools==65.5.0

python-dotenv==1.0.1
requirements-parser==0.9.0

pyyaml==6.0.2
tiktoken==0.7.0
numpy==2.1.0
openai==1.42.0 

## script libraries below ##
#gensim==4.3.3
#matplotlib==3.5.1
#nltk==3.8.1
#pysqlite3==0.5.3
#numpy==1.26.4
#scikit-learn==1.5.1
